.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c5980f;
    color: white;
    font-size: 20px;
    border: 2px solid black;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: white;
  }
  
  /* Information and Projects styles */
  .information,
  .projects {
    padding: 50px 0;
    text-align: center;
  }
  
  .boxes {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
  }
  .box{
    width: 400px;
    height: 200px;
    border: 4px solid orange;
    font-weight: 500;
  }

 
  /* Footer styles */
  .footer {
    text-align: center;
    padding: 20px;
    background-color: grey;
    border: 2px solid black;

  }
  .Image img{
    width: 1100px;
    height: 600px;
    position: relative;
    left:12%;
    margin: 20px;
    opacity: 0.9;
  }
  .HTML{
    background-color: rgb(65, 226, 65);
  }
  .CSS{
    background-color: rgb(37, 197, 178);
  }
  .JavaScript{
    background-color: rgb(226, 102, 233);

  }
  .pr1{
    width:400px;
    height: 450px;
    background-color: rgb(225, 236, 71);
  }
  .pr2{
    width:400px;
    height: 450px;
    background-color: rgb(60, 91, 191);
  }
  .pr3{
    width:400px;
    height: 450px;
    background-color: rgb(233, 102, 133);

  }
  body{
    margin: 30px;
    border: 4px solid black;
    

  }
  .pr1 img{
    border: 4px solid green;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  .pr2 img{
    border: 4px solid green;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  .pr3 img{
    border: 4px solid green;
    width: 200px;
    height: 200px;
    margin: 20px;
  }
  